@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Maiden+Orange&family=Ysabeau+Office:wght@100&display=swap');

#container{
display: grid;
grid-template-areas: 'hd hd hd hd' 'sc sc sc sc' 'wsc wsc wsc wsc' 'sc2 sc2 sc2 sc2';
row-gap: 1vh;
column-gap: 1vw;
padding: 1vh;

}



*{   
justify-items: center;
box-sizing: border-box;
padding: 0vw;
}

header{
    grid-area: hd;
    background-color: rgb(255, 241, 186);
    height:15vh ;
    width:100%;
    font-family: maiden orange;
}


li{
    list-style:none;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar{
    min-height: 10vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 24vw;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1vh;
}

.nav-branding{
    color:rgb(46, 0, 0);
    font-size: 30px;
}

.nav-link{
    transition:0.7s ease;
   
}

.nav-link:hover{
    color:dodgerblue;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 5vw;
    height: 1vh;
    margin: 1vw auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(46, 0, 0);
    
}
@media (max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(1vw) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
            transform: translateY(-1vw) rotate(-45deg);
    }  
    
   .nav-menu{
    position: fixed;
    left:-100%;
    top:10vh;
    gap:0%;
    flex-direction: column;
    background-color: rgb(255, 7, 7);
    width: 100%;
    text-align: center;
    transition: 0.3s;
   } 

   .nav-item{
    margin:10vw 0;
   }

.nav-menu.active{
    left:0;
}
}

.section1{
    grid-area: sc;
    justify-content: center;
    height: 50vh;
    width:80vw ;
    background-color: rgb(103, 10, 10);
    margin-left: 10vw;
    margin-right: 10vw;
    color:rgb(255, 255, 255);
}

.whitesection{
    grid-area: wsc;
    justify-content: center;
    height: 20vh;
    width:80vw ;
    background-color:black;
    margin-left: 10vw;
    margin-right: 10vw;
    opacity: 0;
}
.section2{
    display:flex;
    grid-area: sc2;
    height: 20vh;
    width:80vw ;
    background-color: rgb(103, 10, 10);
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 2vw;
    justify-content: center;
align-content:center;
align-items: center;
flex-wrap:nowrap;
flex-direction: column;
overflow: hidden;
font-size: 15px;

}

@media print{.pizzaknappen{page-break-before: always;}}
.pizzaknappen{
    max-width: 30vw;
    max-height: 30vh;
    border-radius: 50vw;
    
}

.homebody{ 
    background-color: rgb(46, 0, 0);
}


.aboutbody{
    background-color: aquamarine;
}