#container{
    display: grid;
min-height: 100vh;
max-width: 100%;
grid-template-areas:
'hd hd hd hd'
's1 s1 s1 s1'
's1 s1 s1 s1'
's2 s2 s2 s2';
margin-left: auto;
margin-right: auto;
column-gap: 1vh;
row-gap:1vh;
background-color: brown;
justify-items: center;
}

header{
    grid-area: hd;
    background-color: rgb(0, 64, 255);
    height:15vh ;
    width:100%;
}

li{
    list-style:none;
}

a{
    color: chartreuse;
    text-decoration: none;
}

.navbar{
    min-height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 24vw ;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1vh ;
}

.nav-branding{
    font-size:medium
}

.nav-link{
    transition:0.7s ease;
}

.nav-link:hover{
    color: blue;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 5vw;
    height: 1vh;
    margin: 1vw auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;
}
@media (max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(1vw) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
            transform: translateY(-1vw) rotate(-45deg);
    }  
   .nav-menu{
    position: fixed;
    left:-100%;
    top:70vh;
    gap:0%;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
   } 

   .nav-item{
    margin:1vw 0;
   }

.nav-menu.active{
    left:0;
}

}

}

.section1box{
grid-area: s1;
background-color: green;
height:50vh ;
width: 70%;
}

.section2box{
grid-area: s2;
background-color: coral;
height:20vh ;
width: 70%;
word-wrap: break-word;
}

